<!doctype html>
<html>
  <head>
    <title>Status page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="google" content="notranslate" />
      <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href="<%= root_path %>stylesheets/normalize.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= root_path %>stylesheets/skeleton.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= root_path %>stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body class="admin">
    <%= yield %>
  </body>
</html>
